---
import { Image } from "astro:assets";


let photoFiles = await Astro.glob("../_assets/*.jpg")
photoFiles = photoFiles.filter((photo) => photo.default.src.includes("640px"));

const photos = photoFiles.map((photo) => {
  const name = photo.default.src.match(/\d\d\d-[a-z]+/)?.[0];
  return {
    href: `/bee-snapped-assets/_${name}-1280px.jpg`,
    src: `_${name}-640px`,
    alt: `photo #${name?.substring(0, 3)}: ${name?.substring(4)}`,
  };
});
---

<div class="flex flex-wrap justify-between">
  {
    photos.map((photo) => (
      <a href={photo.href} class="max-w-[49%]">
        <Image
          class="my-1.5 duration-200 hover:scale-105"
          src={`/bee-snapped-assets/${photo.src}.jpg`}
          width="640"
          height="480"
          alt={photo.alt}
        />
      </a>
    ))
  }
</div>
