<div>
  <div
    id="HeightBoulderAndLeadDark"
    class="plotly-graph-div"
    style="height:450px; width:100%;"
  >
  </div>
  <script>
    import Plotly from "plotly.js-dist-min";
    window.PLOTLYENV = window.PLOTLYENV || {};
    if (document.getElementById("HeightBoulderAndLeadDark")) {
      Plotly.newPlot(
        "HeightBoulderAndLeadDark",
        [
          {
            alignmentgroup: "True",
            customdata: [
              ["Men", "5'9.5\""],
              ["Men", "5'7\""],
              ["Men", "5'8.5\""],
              ["Men", "5'9.5\""],
              ["Men", "5'9.5\""],
              ["Men", "5'7.5\""],
              ["Men", "5'9.5\""],
              ["Men", "5'5.5\""],
              ["Men", "6'2\""],
              ["Men", "5'7.5\""],
              ["Men", "5'8\""],
              ["Men", "6'1\""],
              ["Men", "5'7.5\""],
              ["Men", "6'0\""],
              ["Men", "5'4\""],
              ["Men", "5'9.5\""],
              ["Men", "5'7\""],
              ["Men", "5'10\""],
              ["Men", "5'7.5\""],
              ["Men", "6'1\""],
              ["Men", "5'10\""],
              ["Men", "5'9\""],
              ["Men", "5'9\""],
              ["Men", "5'7\""],
              ["Men", "5'11.5\""],
              ["Men", "5'9.5\""],
              ["Men", "5'11\""],
              ["Men", "5'9.5\""],
              ["Men", "5'6.5\""],
              ["Men", "5'7\""],
              ["Men", "5'7\""],
              ["Men", "5'4.5\""],
              ["Men", "5'6\""],
              ["Men", "5'9.5\""],
              ["Men", "5'10.5\""],
              ["Men", "5'9.5\""],
            ],
            hovertemplate:
              "<b>%{hovertext}</b><br><br>Height (cm)=%{x}<br>Height (standard)=%{customdata[1]}<extra></extra>",
            hovertext: [
              "Anze Peharc",
              "Colin Duffy",
              "Dohyun Lee",
              "Jakob Schubert",
              "Jongwon Chon",
              "Keita Dohi",
              "Kokoro Fujii",
              "Maximillian Milne",
              "Meichi Narasaki",
              "Mejdi Schalck",
              "Nicolai Uznik",
              "Paul Jenft",
              "Rei Kawamata",
              "Ross Fulkerson",
              "Sean Bailey",
              "Taisei Homma",
              "Tomoa Narasaki",
              "Yannick Floh\u00e9",
              "Yoshiyuki Ogata",
              "Adam Ondra",
              "Alberto Gin\u00e9s L\u00f3pez",
              "Alexander Megos",
              "Ao Yurikusa",
              "Filip Schenk",
              "Hamish Mcarthur",
              "Hidemasa Nishida",
              "Jesse Grupper",
              "Luka Potocar",
              "Masahiro Higuchi",
              "Raviandi Ramadhan",
              "Sam Avezou",
              "Sascha Lehmann",
              "Satone Yoshida",
              "Sebastian Halenke",
              "Stefan Scherz",
              "Toby Roberts",
            ],
            legendgroup: "Men",
            marker: { color: "rgb(102, 197, 204)", pattern: { shape: "" } },
            name: "Men",
            offsetgroup: "Men",
            orientation: "v",
            showlegend: true,
            textposition: "auto",
            x: [
              177.0, 170.0, 174.0, 176.0, 177.0, 171.0, 176.0, 166.0, 188.0,
              172.0, 173.0, 186.0, 172.0, 183.0, 163.0, 177.0, 170.0, 178.0,
              172.0, 186.0, 178.0, 175.0, 175.0, 170.0, 181.0, 177.0, 180.0,
              177.0, 169.0, 170.0, 170.0, 164.0, 168.0, 177.0, 179.0, 177.0,
            ],
            xaxis: "x",
            y: [
              1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
              1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            ],
            yaxis: "y",
            type: "bar",
          },
          {
            alignmentgroup: "True",
            customdata: [
              ["Women", "5'0.5\""],
              ["Women", "5'4.5\""],
              ["Women", "5'3\""],
              ["Women", "5'4\""],
              ["Women", "5'2\""],
              ["Women", "5'2\""],
              ["Women", "5'4\""],
              ["Women", "5'6.5\""],
              ["Women", "5'4\""],
              ["Women", "5'5.5\""],
              ["Women", "5'4.5\""],
              ["Women", "5'5\""],
              ["Women", ""],
              ["Women", "5'4\""],
              ["Women", "5'4\""],
              ["Women", "5'4\""],
              ["Women", "5'0\""],
              ["Women", "5'4.5\""],
              ["Women", "5'6\""],
              ["Women", "5'2\""],
              ["Women", "5'9\""],
              ["Women", "5'3\""],
              ["Women", "5'4\""],
              ["Women", "5'5\""],
              ["Women", "5'0\""],
              ["Women", "5'0.5\""],
              ["Women", "5'7.5\""],
              ["Women", "5'4.5\""],
            ],
            hovertemplate:
              "<b>%{hovertext}</b><br><br>Height (cm)=%{x}<br>Height (standard)=%{customdata[1]}<extra></extra>",
            hovertext: [
              "Ai Mori",
              "Andrea K\u00fcmin",
              "Anon Matsufuji",
              "Ayala Kerem",
              "Brooke Raboutou",
              "Camilla Moroni",
              "Chaehyun Seo",
              "Franziska Sterrer",
              "Futaba Ito",
              "Hannah Meul",
              "Janja Garnbret",
              "Jessica Pilz",
              "Mia Aoyagi",
              "Mia Krampl",
              "Miho Nonaka",
              "Natalia Grossman",
              "Natsuki Tanii",
              "Oriane Bertone",
              "Saki Kikuchi",
              "Serika Okawachi",
              "Stasa Gejo",
              "Zhilu Luo",
              "Eliska Adamovska",
              "H\u00e9l\u00e8ne Janicot",
              "Laura Rogora",
              "Manon Hily",
              "Ryu Nakagawa",
              "Vita Lukan",
            ],
            legendgroup: "Women",
            marker: { color: "rgb(246, 207, 113)", pattern: { shape: "" } },
            name: "Women",
            offsetgroup: "Women",
            orientation: "v",
            showlegend: true,
            textposition: "auto",
            x: [
              154.0,
              164.0,
              160.0,
              163.0,
              158.0,
              157.0,
              163.0,
              169.0,
              162.0,
              167.0,
              164.0,
              165.0,
              null,
              163.0,
              163.0,
              162.0,
              152.0,
              164.0,
              168.0,
              158.0,
              175.0,
              160.0,
              162.0,
              165.0,
              152.0,
              154.0,
              171.0,
              164.0,
            ],
            xaxis: "x",
            y: [
              1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
              1, 1, 1, 1, 1, 1,
            ],
            yaxis: "y",
            type: "bar",
          },
        ],
        {
          template: {
            data: {
              barpolar: [
                {
                  marker: {
                    line: { color: "rgb(17,17,17)", width: 0.5 },
                    pattern: { fillmode: "overlay", size: 10, solidity: 0.2 },
                  },
                  type: "barpolar",
                },
              ],
              bar: [
                {
                  error_x: { color: "#f2f5fa" },
                  error_y: { color: "#f2f5fa" },
                  marker: {
                    line: { color: "rgb(17,17,17)", width: 0.5 },
                    pattern: { fillmode: "overlay", size: 10, solidity: 0.2 },
                  },
                  type: "bar",
                },
              ],
              carpet: [
                {
                  aaxis: {
                    endlinecolor: "#A2B1C6",
                    gridcolor: "#506784",
                    linecolor: "#506784",
                    minorgridcolor: "#506784",
                    startlinecolor: "#A2B1C6",
                  },
                  baxis: {
                    endlinecolor: "#A2B1C6",
                    gridcolor: "#506784",
                    linecolor: "#506784",
                    minorgridcolor: "#506784",
                    startlinecolor: "#A2B1C6",
                  },
                  type: "carpet",
                },
              ],
              choropleth: [
                {
                  colorbar: { outlinewidth: 0, ticks: "" },
                  type: "choropleth",
                },
              ],
              contourcarpet: [
                {
                  colorbar: { outlinewidth: 0, ticks: "" },
                  type: "contourcarpet",
                },
              ],
              contour: [
                {
                  colorbar: { outlinewidth: 0, ticks: "" },
                  colorscale: [
                    [0.0, "#0d0887"],
                    [0.1111111111111111, "#46039f"],
                    [0.2222222222222222, "#7201a8"],
                    [0.3333333333333333, "#9c179e"],
                    [0.4444444444444444, "#bd3786"],
                    [0.5555555555555556, "#d8576b"],
                    [0.6666666666666666, "#ed7953"],
                    [0.7777777777777778, "#fb9f3a"],
                    [0.8888888888888888, "#fdca26"],
                    [1.0, "#f0f921"],
                  ],
                  type: "contour",
                },
              ],
              heatmapgl: [
                {
                  colorbar: { outlinewidth: 0, ticks: "" },
                  colorscale: [
                    [0.0, "#0d0887"],
                    [0.1111111111111111, "#46039f"],
                    [0.2222222222222222, "#7201a8"],
                    [0.3333333333333333, "#9c179e"],
                    [0.4444444444444444, "#bd3786"],
                    [0.5555555555555556, "#d8576b"],
                    [0.6666666666666666, "#ed7953"],
                    [0.7777777777777778, "#fb9f3a"],
                    [0.8888888888888888, "#fdca26"],
                    [1.0, "#f0f921"],
                  ],
                  type: "heatmapgl",
                },
              ],
              heatmap: [
                {
                  colorbar: { outlinewidth: 0, ticks: "" },
                  colorscale: [
                    [0.0, "#0d0887"],
                    [0.1111111111111111, "#46039f"],
                    [0.2222222222222222, "#7201a8"],
                    [0.3333333333333333, "#9c179e"],
                    [0.4444444444444444, "#bd3786"],
                    [0.5555555555555556, "#d8576b"],
                    [0.6666666666666666, "#ed7953"],
                    [0.7777777777777778, "#fb9f3a"],
                    [0.8888888888888888, "#fdca26"],
                    [1.0, "#f0f921"],
                  ],
                  type: "heatmap",
                },
              ],
              histogram2dcontour: [
                {
                  colorbar: { outlinewidth: 0, ticks: "" },
                  colorscale: [
                    [0.0, "#0d0887"],
                    [0.1111111111111111, "#46039f"],
                    [0.2222222222222222, "#7201a8"],
                    [0.3333333333333333, "#9c179e"],
                    [0.4444444444444444, "#bd3786"],
                    [0.5555555555555556, "#d8576b"],
                    [0.6666666666666666, "#ed7953"],
                    [0.7777777777777778, "#fb9f3a"],
                    [0.8888888888888888, "#fdca26"],
                    [1.0, "#f0f921"],
                  ],
                  type: "histogram2dcontour",
                },
              ],
              histogram2d: [
                {
                  colorbar: { outlinewidth: 0, ticks: "" },
                  colorscale: [
                    [0.0, "#0d0887"],
                    [0.1111111111111111, "#46039f"],
                    [0.2222222222222222, "#7201a8"],
                    [0.3333333333333333, "#9c179e"],
                    [0.4444444444444444, "#bd3786"],
                    [0.5555555555555556, "#d8576b"],
                    [0.6666666666666666, "#ed7953"],
                    [0.7777777777777778, "#fb9f3a"],
                    [0.8888888888888888, "#fdca26"],
                    [1.0, "#f0f921"],
                  ],
                  type: "histogram2d",
                },
              ],
              histogram: [
                {
                  marker: {
                    pattern: { fillmode: "overlay", size: 10, solidity: 0.2 },
                  },
                  type: "histogram",
                },
              ],
              mesh3d: [
                { colorbar: { outlinewidth: 0, ticks: "" }, type: "mesh3d" },
              ],
              parcoords: [
                {
                  line: { colorbar: { outlinewidth: 0, ticks: "" } },
                  type: "parcoords",
                },
              ],
              pie: [{ automargin: true, type: "pie" }],
              scatter3d: [
                {
                  line: { colorbar: { outlinewidth: 0, ticks: "" } },
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                  type: "scatter3d",
                },
              ],
              scattercarpet: [
                {
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                  type: "scattercarpet",
                },
              ],
              scattergeo: [
                {
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                  type: "scattergeo",
                },
              ],
              scattergl: [
                { marker: { line: { color: "#283442" } }, type: "scattergl" },
              ],
              scattermapbox: [
                {
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                  type: "scattermapbox",
                },
              ],
              scatterpolargl: [
                {
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                  type: "scatterpolargl",
                },
              ],
              scatterpolar: [
                {
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                  type: "scatterpolar",
                },
              ],
              scatter: [
                { marker: { line: { color: "#283442" } }, type: "scatter" },
              ],
              scatterternary: [
                {
                  marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                  type: "scatterternary",
                },
              ],
              surface: [
                {
                  colorbar: { outlinewidth: 0, ticks: "" },
                  colorscale: [
                    [0.0, "#0d0887"],
                    [0.1111111111111111, "#46039f"],
                    [0.2222222222222222, "#7201a8"],
                    [0.3333333333333333, "#9c179e"],
                    [0.4444444444444444, "#bd3786"],
                    [0.5555555555555556, "#d8576b"],
                    [0.6666666666666666, "#ed7953"],
                    [0.7777777777777778, "#fb9f3a"],
                    [0.8888888888888888, "#fdca26"],
                    [1.0, "#f0f921"],
                  ],
                  type: "surface",
                },
              ],
              table: [
                {
                  cells: {
                    fill: { color: "#506784" },
                    line: { color: "rgb(17,17,17)" },
                  },
                  header: {
                    fill: { color: "#2a3f5f" },
                    line: { color: "rgb(17,17,17)" },
                  },
                  type: "table",
                },
              ],
            },
            layout: {
              annotationdefaults: {
                arrowcolor: "#f2f5fa",
                arrowhead: 0,
                arrowwidth: 1,
              },
              autotypenumbers: "strict",
              coloraxis: { colorbar: { outlinewidth: 0, ticks: "" } },
              colorscale: {
                diverging: [
                  [0, "#8e0152"],
                  [0.1, "#c51b7d"],
                  [0.2, "#de77ae"],
                  [0.3, "#f1b6da"],
                  [0.4, "#fde0ef"],
                  [0.5, "#f7f7f7"],
                  [0.6, "#e6f5d0"],
                  [0.7, "#b8e186"],
                  [0.8, "#7fbc41"],
                  [0.9, "#4d9221"],
                  [1, "#276419"],
                ],
                sequential: [
                  [0.0, "#0d0887"],
                  [0.1111111111111111, "#46039f"],
                  [0.2222222222222222, "#7201a8"],
                  [0.3333333333333333, "#9c179e"],
                  [0.4444444444444444, "#bd3786"],
                  [0.5555555555555556, "#d8576b"],
                  [0.6666666666666666, "#ed7953"],
                  [0.7777777777777778, "#fb9f3a"],
                  [0.8888888888888888, "#fdca26"],
                  [1.0, "#f0f921"],
                ],
                sequentialminus: [
                  [0.0, "#0d0887"],
                  [0.1111111111111111, "#46039f"],
                  [0.2222222222222222, "#7201a8"],
                  [0.3333333333333333, "#9c179e"],
                  [0.4444444444444444, "#bd3786"],
                  [0.5555555555555556, "#d8576b"],
                  [0.6666666666666666, "#ed7953"],
                  [0.7777777777777778, "#fb9f3a"],
                  [0.8888888888888888, "#fdca26"],
                  [1.0, "#f0f921"],
                ],
              },
              colorway: [
                "#636efa",
                "#EF553B",
                "#00cc96",
                "#ab63fa",
                "#FFA15A",
                "#19d3f3",
                "#FF6692",
                "#B6E880",
                "#FF97FF",
                "#FECB52",
              ],
              font: { color: "#f2f5fa" },
              geo: {
                bgcolor: "rgb(17,17,17)",
                lakecolor: "rgb(17,17,17)",
                landcolor: "rgb(17,17,17)",
                showlakes: true,
                showland: true,
                subunitcolor: "#506784",
              },
              hoverlabel: { align: "left" },
              hovermode: "closest",
              mapbox: { style: "dark" },
              paper_bgcolor: "rgb(17,17,17)",
              plot_bgcolor: "rgb(17,17,17)",
              polar: {
                angularaxis: {
                  gridcolor: "#506784",
                  linecolor: "#506784",
                  ticks: "",
                },
                bgcolor: "rgb(17,17,17)",
                radialaxis: {
                  gridcolor: "#506784",
                  linecolor: "#506784",
                  ticks: "",
                },
              },
              scene: {
                xaxis: {
                  backgroundcolor: "rgb(17,17,17)",
                  gridcolor: "#506784",
                  gridwidth: 2,
                  linecolor: "#506784",
                  showbackground: true,
                  ticks: "",
                  zerolinecolor: "#C8D4E3",
                },
                yaxis: {
                  backgroundcolor: "rgb(17,17,17)",
                  gridcolor: "#506784",
                  gridwidth: 2,
                  linecolor: "#506784",
                  showbackground: true,
                  ticks: "",
                  zerolinecolor: "#C8D4E3",
                },
                zaxis: {
                  backgroundcolor: "rgb(17,17,17)",
                  gridcolor: "#506784",
                  gridwidth: 2,
                  linecolor: "#506784",
                  showbackground: true,
                  ticks: "",
                  zerolinecolor: "#C8D4E3",
                },
              },
              shapedefaults: { line: { color: "#f2f5fa" } },
              sliderdefaults: {
                bgcolor: "#C8D4E3",
                bordercolor: "rgb(17,17,17)",
                borderwidth: 1,
                tickwidth: 0,
              },
              ternary: {
                aaxis: {
                  gridcolor: "#506784",
                  linecolor: "#506784",
                  ticks: "",
                },
                baxis: {
                  gridcolor: "#506784",
                  linecolor: "#506784",
                  ticks: "",
                },
                bgcolor: "rgb(17,17,17)",
                caxis: {
                  gridcolor: "#506784",
                  linecolor: "#506784",
                  ticks: "",
                },
              },
              title: { x: 0.05 },
              updatemenudefaults: { bgcolor: "#506784", borderwidth: 0 },
              xaxis: {
                automargin: true,
                gridcolor: "#283442",
                linecolor: "#506784",
                ticks: "",
                title: { standoff: 15 },
                zerolinecolor: "#283442",
                zerolinewidth: 2,
              },
              yaxis: {
                automargin: true,
                gridcolor: "#283442",
                linecolor: "#506784",
                ticks: "",
                title: { standoff: 15 },
                zerolinecolor: "#283442",
                zerolinewidth: 2,
              },
            },
          },
          xaxis: {
            anchor: "y",
            domain: [0.0, 1.0],
            title: { text: "Height (cm)" },
            fixedrange: true,
          },
          yaxis: {
            anchor: "x",
            domain: [0.0, 1.0],
            title: {},
            showticklabels: false,
            fixedrange: true,
          },
          legend: {
            title: { text: "" },
            tracegroupgap: 0,
            orientation: "h",
            y: -0.2,
          },
          margin: { t: 10, l: 0, r: 0, b: 30 },
          barmode: "relative",
          height: 450,
          title: { x: 0, xanchor: "left" },
          paper_bgcolor: "rgba(0, 0, 0, 0)",
          plot_bgcolor: "rgba(0, 0, 0, 0)",
          dragmode: false,
          shapes: [
            {
              line: { dash: "dash" },
              type: "line",
              x0: 175,
              x1: 175,
              xref: "x",
              y0: 0,
              y1: 1,
              yref: "y domain",
            },
            {
              line: { dash: "dash" },
              type: "line",
              x0: 162,
              x1: 162,
              xref: "x",
              y0: 0,
              y1: 1,
              yref: "y domain",
            },
          ],
          annotations: [
            {
              showarrow: false,
              text: " Avg: 175 cm (Men)",
              x: 175,
              xanchor: "left",
              xref: "x",
              y: 1,
              yanchor: "top",
              yref: "y domain",
              yshift: 5,
            },
            {
              showarrow: false,
              text: " Avg: 162 cm (Women)",
              x: 162,
              xanchor: "left",
              xref: "x",
              y: 1,
              yanchor: "top",
              yref: "y domain",
              yshift: 5,
            },
          ],
        },
        { displayModeBar: false, responsive: true, showTips: false }
      );
    }
  </script>
</div>
